<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', { subHeading: user.handle + "'s Profile" }) %>

  <main>
    <p>Email:  <%= user.email %></p>
    <p><a href="/users">Back to the user list.</a></p>
  </main>

  <%- include('../partials/scripts') %>
</body>
</html>
